@page "/"
@using ListasEnlazadasDobles.Models
@using ListasEnlazadasDobles.Services

<PageTitle>ListaEnlazadaDoble</PageTitle>


V@* Reproductor *@

<div class="d-flex justify-content-center mb-2">
    <iframe src="@YoutubeId" width="800" height="400" frameborder="0" allowfullscreen></iframe>
</div>


@* botones *@

<div class="d-flex justify-content-center mb-2">
    <button @onclick="First" class="me-2 btn btn-primary">Primero</button>
    <button @onclick="Before" class="me-2 btn btn-success">Anterior</button>
    <button @onclick="Next" class="me-2 btn btn-danger">Siguiente</button>
    <button @onclick="Last" class="me-2 btn btn-warning">Final</button>
</div>


@* para guardar *@

<div class="row">
    <input type="text" class="form-control mb-2" @bind-value="YoutubeLink" />
    <button class="btn btn-success" @onclick="Save">Guardar</button>
</div>

<p>@Mensaje</p>

@code {
    ListaEnlazadaDoble lista;

    string YoutubeLink = string.Empty;
    string YoutubeId = string.Empty;
    string Mensaje = string.Empty;

    protected override void OnInitialized()
    {
        lista = new ListaEnlazadaDoble();
    }

    void PlayVideo()
    {
        if (lista.NodoActual is not null)
        {
            YoutubeLink = lista.NodoActual.Informacion;

            var videoId = GetVideoId(YoutubeLink);

            if (!string.IsNullOrEmpty(videoId))
            {
                YoutubeId = $"https://www.youtube.com/embed/{videoId}";
            }

        }


    }

    string GetVideoId(string link)
    {
        //creamos un objeto de tipo Uri
        var uri = new Uri(link);

        // obtenemos el query string del uri
        var query = uri.Query;

        // obtenemos todos los parametros del query string
        var queryparams = System.Web.HttpUtility.ParseQueryString(query);

        var videoId = queryparams["v"];

        return videoId;
    }

    void First()
    {
        lista.NodoActual = lista.PrimerNodo;
        PlayVideo();
    }

    void Before()
    {
        lista.Anterior();
        PlayVideo();
    }

    void Next()
    {
        lista.Siguiente();
        PlayVideo();

    }

    void Last()
    {
        lista.NodoActual = lista.UltimoNodo;
        PlayVideo();

    }

    void Save()
    {
        var nuevoNodo = new Nodo(YoutubeLink);

        Mensaje = lista.InsertarNodoAlFinal(nuevoNodo);

        PlayVideo();

        YoutubeLink = string.Empty;
    }

}