html, body {
    font-family: "Montserrat", sans-serif;
    background: #242625;
    color: #FFF;
}

#Contenedor-Html {
    background: #242625;
    color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.search {
    width: 283px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #35403A;
    display:flex;
    align-items:center;
    padding: .8rem;
}

.search-input {
    background: #35403A;
    border:none;
    width: 100%;
    color: white;
}

.NotFound {
    position: relative;
}

.NotFound-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    align-self: flex-start;
    margin-left: 8rem;
    z-index: 999;
}

.NotFound-parrafo {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 8rem;
}

.NotFound-img {
    position: absolute;
    width: 709px;
    height: 520px;
    top: 5%; 
    left: 23%; 
    z-index: 0; 
}

.modal {
    background: #4C594F;
}

.btnVideo {
    border: none;
    background: rgba(217, 217, 217, 0.05);
    width: 58px;
    height: 124px;
}

/*Mensajes de error y feedback*/
.containerMessageError {
    top: 20%;
    left: 50%;
    border-radius: 30px 30px 0px 30px;
    width: 256px;
    height: 173px;
    flex-shrink: 0;
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D5483A;
    background: rgba(213, 72, 58, 0.80);
}

.containerMessageError p {
    max-width: 200px;
}

.containerMessage {
    top: 20%;
    left: 50%;
    border-radius: 30px 30px 0px 30px;
    width: 256px;
    height: 173px;
    flex-shrink: 0;
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3AD5C2;
    background: rgba(58, 213, 194, 0.80);
}

.containerMessage p {
    max-width: 200px;
}

.left-container, .insertar-container,
.eliminar-container, .extra-container {
    display: flex;
    flex-direction: column;
}

.subtitle-container {
    color: whitesmoke;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
}

.btn-txt {
    border: none;
    text-align: left;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: .7rem;
    background-color: #198754;
    margin: .05rem;
}

.insertar:hover {
    border-radius: 5px;
    background-color: #3f6c0d;
}

.eliminar:hover {
    border-radius: 5px;
    background-color: #145325;
}

.extra:hover {
    border-radius: 5px;
    background-color: #0a8e25;
}


.footer-home {
    margin-top: 35%;
}

.logo {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}